
body {
  /* width: 100%; */
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #8e2de2,
    #4a00e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #8e2de2,
    #4a00e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 25px; }
.material-icons.md-48 { font-size: 50px; }

.left-side {
  background-color: white;
  height: 100%;
  display: inline-block;
  width: 100%;
  
}
#right-side {
  background-color: white;
  width: 100%;
  margin-top: 2%;

}
.container {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#social-buttons i {
    padding: 0% 4% 0% 4%; 
    color: #EF6F6C; 
    transition: all .2s ease-in-out;  
}
#social-buttons i:hover {
    /* color: white; */
    transform: scale(1.1);}
#info i {
    color: #EF6F6C;
    margin: 0% 2% 0% 2%; 
}
#image {
  width: 100%;
  display: block;
  height: 40%;
  background: black; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#propic {
    background: url("../img/hiten.svg");
    top: 20%;
    position: relative;
    height: 80%;
    background-repeat: no-repeat;
    background-position:center bottom;
}
#info a {
    text-decoration: none;
    color: #EF6F6C;
}
#info a:visited { text-decoration: none;  color: #EF6F6C;}
#info a:hover { text-decoration: none; color: #EF6F6C;}
#info a:focus { text-decoration: none;  color: #EF6F6C;}
#info a:hover, a:active { text-decoration: none;color: #EF6F6C; }
#info {
    text-align: center;
    padding: 0 5px 0 5px;
}
#info h1 {
    font-family: Comfortaa;
    font-size:(1.8em);
}
#info > #subtitle{
    font-family: 'Roboto Mono', monospace;
}
@media only screen and (min-width: 375px) {
  .left-side {
    width: 49.75%;
  }
  #right-side {
    float: right;
    width: 49.75%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    width: 33.33%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: white;
    border-bottom: 4px solid #EF6F6C;
    color: #EF6F6C;
  }
 
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 16px;
  }
  #defaultOpen {
      display: block !important;
  }
  .tabcontent h3 {
    font-family: Comfortaa;
  }
  .tabcontent {
      text-align: center;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }

  .tabcontent p {
    font-familY: 'roboto mono',monospace;
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
