body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.dark{
  padding: 15px;
  background: #bbbbbb;
  color:#ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Highlighting */
#highlighted {
  background-color: rgba(255,235,0, .7);
}
#notrans {
  background-color: #ffeb00
}
/* span {
    background-color: #ffeb00
} */


#main a{
  font-size: 30pt;
  background-color: #ffeb00;
  font-style: italic;
  text-decoration: none;
  color: black;
}
}
#main a:visited {
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}
/* Header */
header{
  background: #ffffff;
  color: #2c4061;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #2c4061 3px solid;
}

header a{
  color: #2c4061;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a {
  color: #031424;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    line-height: 75%;
}
/* Showcase */

#showcase{
  min-height: 600px;
  background-image:url('../img/mountains.JPG');
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
#showcase h1 {
  margin-top: 20px;
  font-size: 60px;
  margin-bottom: 20px;
}
#showcase p{
  font-size: 20px;
  /* vertical-align: middle; */
}

/*project headers */
#projcase{
  min-height: 600px;
  background-image:url('../img/montana.jpeg');
  background-size: cover;
  text-align: center;
  color: #ffffff;
}
#projcase h1 {
  margin-top: 300px;
  font-size: 60px;
  margin-bottom: 20px;
}

#boxes{
  margin-top: 20px;
}
#boxes .box{
  float:left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes h3 {

}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #000000;
  background-color: #f4f4f4;
  text-align: center;
}

/*sidebar */
aside#sidebar{
  float:right;
  width: 30%;
  padding: 5px;
}
article#main-col{
  float: left;
  width: 65%;
}

article#code-col{
  float:left;
  width:45%;
}
article#graph-col{
  float:right;
  width:40%;
}

aside#code-col input, aside#code-col textarea {
  width: 90%;
  padding: 25px;
}
aside#graph-col input, aside#graph-col textarea {
  width: 90%;
  padding: 25px;
}

.borderstyle{
  border-style: solid;
  border-color: #ffeb00:
}

code {
  font-size: 10px;
}

article#leftcol


aside#sidebar input, aside#sidebar textarea {
  width: 90%;
  padding: 5px;
}

/* serives */
ul#more li{
  list-style: none;
  padding: 20px;
  /* border: #cccccc solid 1px; */
  margin-bottom: 5px;
  /* background: #bbbbbb; */
}

ul#more h3{
  border-bottom: #353637 solid 1px
  /* background-color: #ffeb00 */

}
@media(max-width: 768px) {
  article#code-col,
  aside#graph-col,
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float: none;
    text-align: center;
    width: 100%;
  }

header {
  padding-bottom: 20px;
}

#showcase h1 {
  margin-top: 40px;
}

#page-title{
  margin-top: 50px;
}

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

}
